Transmetro1.5/src/conf/xml-resources/web-service-references/SerivicioWeb/wsdl/localhost_8080/WebService/SerivicioWeb.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicio/">

<xs:element name="Agregar" type="tns:Agregar"/>

<xs:element name="AgregarAvlAdmin" type="tns:AgregarAvlAdmin"/>

<xs:element name="AgregarAvlAdminResponse" type="tns:AgregarAvlAdminResponse"/>

<xs:element name="AgregarBus" type="tns:AgregarBus"/>

<xs:element name="AgregarBusResponse" type="tns:AgregarBusResponse"/>

<xs:element name="AgregarNombreRuta" type="tns:AgregarNombreRuta"/>

<xs:element name="AgregarNombreRutaResponse" type="tns:AgregarNombreRutaResponse"/>

<xs:element name="AgregarNumeroExtacion" type="tns:AgregarNumeroExtacion"/>

<xs:element name="AgregarNumeroExtacion2" type="tns:AgregarNumeroExtacion2"/>

<xs:element name="AgregarNumeroExtacion2Response" type="tns:AgregarNumeroExtacion2Response"/>

<xs:element name="AgregarNumeroExtacionResponse" type="tns:AgregarNumeroExtacionResponse"/>

<xs:element name="AgregarResponse" type="tns:AgregarResponse"/>

<xs:element name="AsignacionDeBuses" type="tns:AsignacionDeBuses"/>

<xs:element name="AsignacionDeBusesResponse" type="tns:AsignacionDeBusesResponse"/>

<xs:element name="Borrar" type="tns:Borrar"/>

<xs:element name="BorrarResponse" type="tns:BorrarResponse"/>

<xs:element name="BuscarObjetoEnListaBuses" type="tns:BuscarObjetoEnListaBuses"/>

<xs:element name="BuscarObjetoEnListaBusesResponse" type="tns:BuscarObjetoEnListaBusesResponse"/>

<xs:element name="BuscarObjetoEnListaRutas" type="tns:BuscarObjetoEnListaRutas"/>

<xs:element name="BuscarObjetoEnListaRutasResponse" type="tns:BuscarObjetoEnListaRutasResponse"/>

<xs:element name="BuscarRuta" type="tns:BuscarRuta"/>

<xs:element name="BuscarRutaResponse" type="tns:BuscarRutaResponse"/>

<xs:element name="ChoferLogeado" type="tns:ChoferLogeado"/>

<xs:element name="ChoferLogeadoResponse" type="tns:ChoferLogeadoResponse"/>

<xs:element name="CrearRuta" type="tns:CrearRuta"/>

<xs:element name="CrearRutaResponse" type="tns:CrearRutaResponse"/>

<xs:element name="EliminarAdmin" type="tns:EliminarAdmin"/>

<xs:element name="EliminarAdminResponse" type="tns:EliminarAdminResponse"/>

<xs:element name="EliminarChofer" type="tns:EliminarChofer"/>

<xs:element name="EliminarChoferResponse" type="tns:EliminarChoferResponse"/>

<xs:element name="EliminarEstacionClave" type="tns:EliminarEstacionClave"/>

<xs:element name="EliminarEstacionClaveResponse" type="tns:EliminarEstacionClaveResponse"/>

<xs:element name="EliminarEstacionGeneral" type="tns:EliminarEstacionGeneral"/>

<xs:element name="EliminarEstacionGeneralResponse" type="tns:EliminarEstacionGeneralResponse"/>

<xs:element name="ExisteAdmin" type="tns:ExisteAdmin"/>

<xs:element name="ExisteAdminResponse" type="tns:ExisteAdminResponse"/>

<xs:element name="ExisteBus" type="tns:ExisteBus"/>

<xs:element name="ExisteBusResponse" type="tns:ExisteBusResponse"/>

<xs:element name="ExisteChofer" type="tns:ExisteChofer"/>

<xs:element name="ExisteChoferResponse" type="tns:ExisteChoferResponse"/>

<xs:element name="ExisteEstacionClave" type="tns:ExisteEstacionClave"/>

<xs:element name="ExisteEstacionClaveResponse" type="tns:ExisteEstacionClaveResponse"/>

<xs:element name="ExisteEstacionGeneral" type="tns:ExisteEstacionGeneral"/>

<xs:element name="ExisteEstacionGeneralResponse" type="tns:ExisteEstacionGeneralResponse"/>

<xs:element name="ExisteRuta" type="tns:ExisteRuta"/>

<xs:element name="ExisteRutaResponse" type="tns:ExisteRutaResponse"/>

<xs:element name="GraficarArbolAdministrador" type="tns:GraficarArbolAdministrador"/>

<xs:element name="GraficarArbolAdministradorResponse" type="tns:GraficarArbolAdministradorResponse"/>

<xs:element name="GraficarArbolChofer" type="tns:GraficarArbolChofer"/>

<xs:element name="GraficarArbolChoferResponse" type="tns:GraficarArbolChoferResponse"/>

<xs:element name="GraficarArbolEstacionClave" type="tns:GraficarArbolEstacionClave"/>

<xs:element name="GraficarArbolEstacionClaveResponse" type="tns:GraficarArbolEstacionClaveResponse"/>

<xs:element name="GraficarArbolEstacionGeneral" type="tns:GraficarArbolEstacionGeneral"/>

<xs:element name="GraficarArbolEstacionGeneralResponse" type="tns:GraficarArbolEstacionGeneralResponse"/>

<xs:element name="GraficarListaBuses" type="tns:GraficarListaBuses"/>

<xs:element name="GraficarListaBusesResponse" type="tns:GraficarListaBusesResponse"/>

<xs:element name="GraficarListaDeBusesAunChofer" type="tns:GraficarListaDeBusesAunChofer"/>

<xs:element name="GraficarListaDeBusesAunChoferResponse" type="tns:GraficarListaDeBusesAunChoferResponse"/>

<xs:element name="Imprimir Rutas" type="tns:Imprimir Rutas"/>

<xs:element name="Imprimir RutasResponse" type="tns:Imprimir RutasResponse"/>

<xs:element name="ImprimirAdminRetorno" type="tns:ImprimirAdminRetorno"/>

<xs:element name="ImprimirAdminRetornoResponse" type="tns:ImprimirAdminRetornoResponse"/>

<xs:element name="ImprimirAdmins" type="tns:ImprimirAdmins"/>

<xs:element name="ImprimirAdminsResponse" type="tns:ImprimirAdminsResponse"/>

<xs:element name="ImprimirAvlAdmin" type="tns:ImprimirAvlAdmin"/>

<xs:element name="ImprimirAvlAdminResponse" type="tns:ImprimirAvlAdminResponse"/>

<xs:element name="ImprimirChofer" type="tns:ImprimirChofer"/>

<xs:element name="ImprimirChofer2" type="tns:ImprimirChofer2"/>

<xs:element name="ImprimirChofer2Response" type="tns:ImprimirChofer2Response"/>

<xs:element name="ImprimirChoferREtorno" type="tns:ImprimirChoferREtorno"/>

<xs:element name="ImprimirChoferREtorno2" type="tns:ImprimirChoferREtorno2"/>

<xs:element name="ImprimirChoferREtorno2Response" type="tns:ImprimirChoferREtorno2Response"/>

<xs:element name="ImprimirChoferREtornoResponse" type="tns:ImprimirChoferREtornoResponse"/>

<xs:element name="ImprimirChoferResponse" type="tns:ImprimirChoferResponse"/>

<xs:element name="ImprimirEstaGeREtorno" type="tns:ImprimirEstaGeREtorno"/>

<xs:element name="ImprimirEstaGeREtorno2" type="tns:ImprimirEstaGeREtorno2"/>

<xs:element name="ImprimirEstaGeREtorno2Response" type="tns:ImprimirEstaGeREtorno2Response"/>

<xs:element name="ImprimirEstaGeREtornoResponse" type="tns:ImprimirEstaGeREtornoResponse"/>

<xs:element name="ImprimirEstaGeneral" type="tns:ImprimirEstaGeneral"/>

<xs:element name="ImprimirEstaGeneral2" type="tns:ImprimirEstaGeneral2"/>

<xs:element name="ImprimirEstaGeneral2Response" type="tns:ImprimirEstaGeneral2Response"/>

<xs:element name="ImprimirEstaGeneralResponse" type="tns:ImprimirEstaGeneralResponse"/>

<xs:element name="ImprimirEstacionClaveRetorno" type="tns:ImprimirEstacionClaveRetorno"/>

<xs:element name="ImprimirEstacionClaveRetorno2" type="tns:ImprimirEstacionClaveRetorno2"/>

<xs:element name="ImprimirEstacionClaveRetorno2Response" type="tns:ImprimirEstacionClaveRetorno2Response"/>

<xs:element name="ImprimirEstacionClaveRetornoResponse" type="tns:ImprimirEstacionClaveRetornoResponse"/>

<xs:element name="ImprimirEstacionesClave" type="tns:ImprimirEstacionesClave"/>

<xs:element name="ImprimirEstacionesClave2" type="tns:ImprimirEstacionesClave2"/>

<xs:element name="ImprimirEstacionesClave2Response" type="tns:ImprimirEstacionesClave2Response"/>

<xs:element name="ImprimirEstacionesClaveResponse" type="tns:ImprimirEstacionesClaveResponse"/>

<xs:element name="ImprimirListaBuses" type="tns:ImprimirListaBuses"/>

<xs:element name="ImprimirListaBusesParaAsignar" type="tns:ImprimirListaBusesParaAsignar"/>

<xs:element name="ImprimirListaBusesParaAsignarResponse" type="tns:ImprimirListaBusesParaAsignarResponse"/>

<xs:element name="ImprimirListaBusesResponse" type="tns:ImprimirListaBusesResponse"/>

<xs:element name="InsertarAdmin" type="tns:InsertarAdmin"/>

<xs:element name="InsertarAdminResponse" type="tns:InsertarAdminResponse"/>

<xs:element name="InsertarChofer" type="tns:InsertarChofer"/>

<xs:element name="InsertarChoferResponse" type="tns:InsertarChoferResponse"/>

<xs:element name="InsertarEstacionClave" type="tns:InsertarEstacionClave"/>

<xs:element name="InsertarEstacionClaveResponse" type="tns:InsertarEstacionClaveResponse"/>

<xs:element name="InsertarEstacionGeneral" type="tns:InsertarEstacionGeneral"/>

<xs:element name="InsertarEstacionGeneralResponse" type="tns:InsertarEstacionGeneralResponse"/>

<xs:element name="LogearAdmin" type="tns:LogearAdmin"/>

<xs:element name="LogearAdminResponse" type="tns:LogearAdminResponse"/>

<xs:element name="LogearChofer" type="tns:LogearChofer"/>

<xs:element name="LogearChoferResponse" type="tns:LogearChoferResponse"/>

<xs:element name="LogearEstaciones" type="tns:LogearEstaciones"/>

<xs:element name="LogearEstacionesGenerales" type="tns:LogearEstacionesGenerales"/>

<xs:element name="LogearEstacionesGeneralesResponse" type="tns:LogearEstacionesGeneralesResponse"/>

<xs:element name="LogearEstacionesResponse" type="tns:LogearEstacionesResponse"/>

<xs:element name="ModificarAdmin" type="tns:ModificarAdmin"/>

<xs:element name="ModificarAdminResponse" type="tns:ModificarAdminResponse"/>

<xs:element name="ModificarChofer" type="tns:ModificarChofer"/>

<xs:element name="ModificarChoferResponse" type="tns:ModificarChoferResponse"/>

<xs:element name="ModificarEstacionClave" type="tns:ModificarEstacionClave"/>

<xs:element name="ModificarEstacionClaveResponse" type="tns:ModificarEstacionClaveResponse"/>

<xs:element name="ModificarEstacionGeneral" type="tns:ModificarEstacionGeneral"/>

<xs:element name="ModificarEstacionGeneralResponse" type="tns:ModificarEstacionGeneralResponse"/>

<xs:element name="ResumenBus" type="tns:ResumenBus"/>

<xs:element name="ResumenBusResponse" type="tns:ResumenBusResponse"/>

<xs:element name="ResumenChofer" type="tns:ResumenChofer"/>

<xs:element name="ResumenChoferResponse" type="tns:ResumenChoferResponse"/>

<xs:element name="RetornarListaDeNombresDeEstaciones" type="tns:RetornarListaDeNombresDeEstaciones"/>

<xs:element name="RetornarListaDeNombresDeEstacionesResponse" type="tns:RetornarListaDeNombresDeEstacionesResponse"/>

<xs:element name="RetornarListaRutas" type="tns:RetornarListaRutas"/>

<xs:element name="RetornarListaRutasResponse" type="tns:RetornarListaRutasResponse"/>

<xs:element name="RetornarNombresDeRutas" type="tns:RetornarNombresDeRutas"/>

<xs:element name="RetornarNombresDeRutasEstaciones" type="tns:RetornarNombresDeRutasEstaciones"/>

<xs:element name="RetornarNombresDeRutasEstacionesResponse" type="tns:RetornarNombresDeRutasEstacionesResponse"/>

<xs:element name="RetornarNombresDeRutasResponse" type="tns:RetornarNombresDeRutasResponse"/>

<xs:element name="ValidacionesArchivo" type="tns:ValidacionesArchivo"/>

<xs:element name="ValidacionesArchivoResponse" type="tns:ValidacionesArchivoResponse"/>

<xs:element name="Volumen" type="tns:Volumen"/>

<xs:element name="VolumenResponse" type="tns:VolumenResponse"/>

<xs:element name="getAdmin" type="tns:getAdmin"/>

<xs:element name="getAdminNombre" type="tns:getAdminNombre"/>

<xs:element name="getAdminNombreResponse" type="tns:getAdminNombreResponse"/>

<xs:element name="getAdminResponse" type="tns:getAdminResponse"/>

<xs:element name="getChofer" type="tns:getChofer"/>

<xs:element name="getChofer2" type="tns:getChofer2"/>

<xs:element name="getChofer2Response" type="tns:getChofer2Response"/>

<xs:element name="getChoferNombre" type="tns:getChoferNombre"/>

<xs:element name="getChoferNombre2" type="tns:getChoferNombre2"/>

<xs:element name="getChoferNombre2Response" type="tns:getChoferNombre2Response"/>

<xs:element name="getChoferNombreResponse" type="tns:getChoferNombreResponse"/>

<xs:element name="getChoferResponse" type="tns:getChoferResponse"/>

<xs:element name="getEstacionClave" type="tns:getEstacionClave"/>

<xs:element name="getEstacionClave2" type="tns:getEstacionClave2"/>

<xs:element name="getEstacionClave2Response" type="tns:getEstacionClave2Response"/>

<xs:element name="getEstacionClaveNodo" type="tns:getEstacionClaveNodo"/>

<xs:element name="getEstacionClaveNodoResponse" type="tns:getEstacionClaveNodoResponse"/>

<xs:element name="getEstacionClaveNombre" type="tns:getEstacionClaveNombre"/>

<xs:element name="getEstacionClaveNombre2" type="tns:getEstacionClaveNombre2"/>

<xs:element name="getEstacionClaveNombre2Response" type="tns:getEstacionClaveNombre2Response"/>

<xs:element name="getEstacionClaveNombreResponse" type="tns:getEstacionClaveNombreResponse"/>

<xs:element name="getEstacionClaveResponse" type="tns:getEstacionClaveResponse"/>

<xs:element name="getEstacionGeneral" type="tns:getEstacionGeneral"/>

<xs:element name="getEstacionGeneral2" type="tns:getEstacionGeneral2"/>

<xs:element name="getEstacionGeneral2Response" type="tns:getEstacionGeneral2Response"/>

<xs:element name="getEstacionGeneralNodo" type="tns:getEstacionGeneralNodo"/>

<xs:element name="getEstacionGeneralNodoResponse" type="tns:getEstacionGeneralNodoResponse"/>

<xs:element name="getEstacionGeneralNombre" type="tns:getEstacionGeneralNombre"/>

<xs:element name="getEstacionGeneralNombre2" type="tns:getEstacionGeneralNombre2"/>

<xs:element name="getEstacionGeneralNombre2Response" type="tns:getEstacionGeneralNombre2Response"/>

<xs:element name="getEstacionGeneralNombreResponse" type="tns:getEstacionGeneralNombreResponse"/>

<xs:element name="getEstacionGeneralResponse" type="tns:getEstacionGeneralResponse"/>

<xs:element name="leerhoteles" type="tns:leerhoteles"/>

<xs:element name="leerhotelesResponse" type="tns:leerhotelesResponse"/>

<xs:complexType name="GraficarArbolEstacionClave">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GraficarArbolEstacionClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionClaveNombre2">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionClaveNombre2Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirChofer2">
<xs:sequence>
<xs:element name="arg0" type="tns:nodoChofer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nodoChofer">
<xs:sequence>
<xs:element name="ingreso" type="xs:int"/>
<xs:element name="NombreChofer" type="xs:string" minOccurs="0"/>
<xs:element name="ApellidoChofer" type="xs:string" minOccurs="0"/>
<xs:element name="Contraseña" type="xs:string" minOccurs="0"/>
<xs:element name="ListaDeAsiganaciones" type="tns:asignaciones" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ListaDia" type="tns:dia" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="asignaciones">
<xs:sequence>
<xs:element name="ObjetoBus" type="tns:nodoBuses" minOccurs="0"/>
<xs:element name="ObjetoRuta" type="tns:ruta" minOccurs="0"/>
<xs:element name="NombreBus" type="xs:string" minOccurs="0"/>
<xs:element name="NombreRuta" type="xs:string" minOccurs="0"/>
<xs:element name="NombreChofer" type="xs:string" minOccurs="0"/>
<xs:element name="IdBus" type="xs:int"/>
<xs:element name="IdChofer" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nodoBuses">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ruta">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="ListaEstaciones" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ListaNumeroDeEstaciones" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ListaNumeroDeEstaciones2" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ListaEstacionesClave" type="tns:nodoEstacionClave" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ListaEstacionesGenerales" type="tns:nodoEstacionGeneral" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nodoEstacionClave">
<xs:sequence>
<xs:element name="ingreso" type="xs:int"/>
<xs:element name="NombreEstacion" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nodoEstacionGeneral">
<xs:sequence>
<xs:element name="ingreso" type="xs:int"/>
<xs:element name="NombreEstacion" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dia">
<xs:sequence>
<xs:element name="ListaDeBusesEnUnDia" type="tns:asignaciones" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirChofer2Response">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GraficarListaBuses">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GraficarListaBusesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionClaveNombre">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionClaveNombreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraficarArbolChofer">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GraficarArbolChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarObjetoEnListaRutas">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarObjetoEnListaRutasResponse">
<xs:sequence>
<xs:element name="return" type="tns:ruta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LogearEstaciones">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombreEstacion" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LogearEstacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarEstacionGeneral">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarEstacionGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ResumenChofer">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ResumenChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetornarNombresDeRutas">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetornarNombresDeRutasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarNombreRuta">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarNombreRutaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getChoferNombre2">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChoferNombre2Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirEstaGeneral">
<xs:sequence>
<xs:element name="arg0" type="tns:nodoEstacionGeneral" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirEstaGeneralResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAdminNombre">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdminNombreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraficarArbolAdministrador">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GraficarArbolAdministradorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirEstacionClaveRetorno2">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirEstacionClaveRetorno2Response">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarBus">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirEstacionesClave">
<xs:sequence>
<xs:element name="arg0" type="tns:nodoEstacionClave" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirEstacionesClaveResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getEstacionGeneral2">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionGeneral2Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarObjetoEnListaBuses">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarObjetoEnListaBusesResponse">
<xs:sequence>
<xs:element name="return" type="tns:nodoBuses" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraficarArbolEstacionGeneral">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GraficarArbolEstacionGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarRuta">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarEstacionGeneral">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarEstacionGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionClave2">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionClave2Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetornarListaRutas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="RetornarListaRutasResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ResumenBus">
<xs:sequence>
<xs:element name="nombre" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ResumenBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarAdmin">
<xs:sequence>
<xs:element name="clave" type="xs:int"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Imprimir Rutas">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Imprimir RutasResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getChofer">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChofer2">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChofer2Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteEstacionClave">
<xs:sequence>
<xs:element name="clave" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteEstacionClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirChofer">
<xs:sequence>
<xs:element name="arg0" type="tns:nodoChofer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirChoferResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirEstaGeREtorno">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirEstaGeREtornoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirEstaGeneral2">
<xs:sequence>
<xs:element name="arg0" type="tns:nodoEstacionGeneral" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirEstaGeneral2Response">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="InsertarEstacionGeneral">
<xs:sequence>
<xs:element name="clave" type="xs:int"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarEstacionGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirListaBusesParaAsignar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirListaBusesParaAsignarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirAvlAdmin">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirAvlAdminResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="RetornarListaDeNombresDeEstaciones">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetornarListaDeNombresDeEstacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarNumeroExtacion">
<xs:sequence>
<xs:element name="nombre" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarNumeroExtacionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ValidacionesArchivo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidacionesArchivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignacionDeBuses">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignacionDeBusesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteEstacionGeneral">
<xs:sequence>
<xs:element name="clave" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteEstacionGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LogearChofer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LogearChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarChofer">
<xs:sequence>
<xs:element name="clave" type="xs:int"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteBus">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarEstacionClave">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarEstacionClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearRuta">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearRutaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ModificarAdmin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerhoteles">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerhotelesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionClave">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionGeneral">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraficarListaDeBusesAunChofer">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraficarListaDeBusesAunChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarAvlAdmin">
<xs:sequence>
<xs:element name="parameter" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarAvlAdminResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirAdminRetorno">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirAdminRetornoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionGeneralNombre2">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionGeneralNombre2Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LogearAdmin">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LogearAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirEstaGeREtorno2">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirEstaGeREtorno2Response">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Volumen">
<xs:sequence>
<xs:element name="radio" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="VolumenResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetornarNombresDeRutasEstaciones">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetornarNombresDeRutasEstacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Agregar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarEstacionClave">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarEstacionClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarChofer">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionClaveNodo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionClaveNodoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="InsertarEstacionClave">
<xs:sequence>
<xs:element name="clave" type="xs:int"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarEstacionClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteRuta">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Borrar">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BorrarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirAdmins">
<xs:sequence>
<xs:element name="arg0" type="tns:nodoAdministrador" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nodoAdministrador">
<xs:sequence>
<xs:element name="ingreso" type="xs:int"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirAdminsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgregarNumeroExtacion2">
<xs:sequence>
<xs:element name="nombre" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarNumeroExtacion2Response">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirChoferREtorno">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirChoferREtornoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarAdmin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarChofer">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ChoferLogeado">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ChoferLogeadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteChofer">
<xs:sequence>
<xs:element name="clave" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdmin">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirListaBuses">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirListaBusesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteAdmin">
<xs:sequence>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirEstacionesClave2">
<xs:sequence>
<xs:element name="arg0" type="tns:nodoEstacionClave" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirEstacionesClave2Response">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getChoferNombre">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getChoferNombreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LogearEstacionesGenerales">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="contra" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LogearEstacionesGeneralesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirEstacionClaveRetorno">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirEstacionClaveRetornoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImprimirChoferREtorno2">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ImprimirChoferREtorno2Response">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionGeneralNombre">
<xs:sequence>
<xs:element name="iteracion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionGeneralNombreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionGeneralNodo">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEstacionGeneralNodoResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>